<p class="text-center text-2xl">Editing Taxon</p>

<%= render 'form', taxon: @taxon %>

<p class='mt-4 mx-2'>
  <%= link_to '⚠️ Delete taxon ⚠️', @taxon, {method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-600"} %>
</p>
