<p id="notice"><%= notice %></p>

<p>
  <strong>Rank:</strong>
  <%= @taxon.rank %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @taxon.common_name %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @taxon.scientific_name %>
</p>
