<p class="text-center text-2xl">Editing Animon</p>

<%= render 'form', animon: @animon %>

<p class='mt-4 mx-2'>
  <%= link_to '⚠️ Delete animon ⚠️', animon_path(@animon), {method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-600"} %>
</p>
