<p id="notice"><%= notice %></p>

<p class="animon-title text-center text-2xl"><%= @page_title %></p>

<div class="animon_list">
  <% @animons.each do |animon| %>
    <div class="flex flex-wrap items-center">
      <% if animon.picture.attached? %>
        <div><%= link_to(image_tag(url_for(animon.picture), class: 'mx-2 w-16 h-16 object-contain'), animon) %></div>
      <% else %>
        <div class='mx-2 w-16 h-16'></div>
      <% end %>
      <div><%= link_to( animon.taxon.common_name, animon, class: 'text-xl') %></div>
    </div>
  <% end %>
</div>
