<p id="notice"><%= notice %></p>

<p class="animon-title text-center text-2xl"><%= @page_title %></p>

<div class="animon_list">
  <table>
    <tbody>
      <% @animons.each do |animon| %>
        <tr>
          <td>
            <% if animon.picture.attached? %>
              <%= link_to(image_tag(url_for(animon.picture), class: 'mx-2 w-16 h-16 object-contain'), animon) %>
            <% else %>
              <div class='mx-2 w-16 h-16'></div>
            <% end %>
          </td>
          <td><%= link_to( animon.taxon.common_name, animon, class: 'text-xl') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
