<h1>Welcome to our planet</h1>

Find new Animons! Collect them, classify them, give them some attention and show them to the world!

<h2>Latest content:</h2>
<table class="latest">
<% @latest_contents.each do |content| %>
  <% content_strings = strings_for_content(content) %>
  <tr>
    <td>
      <%= content_strings['text'] %>
    </td>
    <td>
      <%= content_strings['visual'] %>
    </td>
  </tr>
<% end %>
</table>
