
<h1>All animals</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

  <% @animals.each do |animal| %>
    <tr>
      <td><%= link_to animal.name, animal_path(animal) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New animal...', new_animal_path %>
