
<h1>All animals</h1>

<table>
  <% @animals.each do |animal| %>
    <tr>
      <td><%= link_to animal.name, animal_path(animal) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add new animal...', new_animal_path %>
