<h1> <%= @animal.name %> </h1>

<p>
  Family: <%= link_to @family.name, family_path(@family) %>
</p>
<p>
  <%= link_to 'Edit...', edit_animal_path(@animal) %>
</p>
<p>
  <%= link_to 'Delete...', animal_path(@animal), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
