<p class="text-2xl text-center">Browse all Animons</p>

<% @animons_in_view.each do |animon_in_view| %>
  <div class="mt-8">
    <%= animon_in_view[:link] %>
    <div class="<%= animon_in_view[:class] %> flex flex-wrap">
      <% animon_in_view[:list].each do |animon| %>
        <div>
          <div><%= link_to image_tag(url_for(animon.picture), class: 'mt-4 mx-2 h-32'), animon %></div>
          <div class='text-center'><%= link_to animon.taxon.common_name, animon %></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
