/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.logo {
  width: 100px;
  float: left;
}

.menu {
  padding: 40px 0;
}

hr {
  clear: both;
}

h1 {
  text-align: center;
}

iframe {
  width: 560px;
  height: 315px;
  border: none;
}

.thumbnail {
  height: 80px;
}

.latest {
  border: 1px solid;
  border-collapse: collapse;
}
.latest tr {
  height: 80px;
  border: solid;
  border-width: 1px 0;
}

.identity {
  border: 2px solid;
  background-color: lightgrey;
  border-radius: 12px;
}

.hint {
  font-style: italic;
}

.dangerous a {
  color: red;
}
